// ----------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------
// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$max-width: 1280px;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$font-family-heading: 'Cabin', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-weight: normal;
$line-height: 30px;

$font-family-link: $font-family;

// ----------------------------------------------------------------------
// Font Sizes Default
// ----------------------------------------------------------------------
$font-size-h1: 70px;
$font-size-h2: 50px;
$font-size-h3: 42px;
$font-size-h4: 30px;
$font-size-h5: 22px;
$font-size-h6: 16px;
$font-size-large: 22px;
$font-size: 19px;
$font-size-small: 16px;


// ----------------------------------------------------------------------
// Colors Default
// ----------------------------------------------------------------------
$color-white: #ffffff; //white

$color-primary:#2FB0E7 ; //skyblue
$color-secondary:#E9ECEF ; // light
$color-success:#73A839 ; //green
$color-info: #02294E; //blue-dark
$color-warning:#DD5600; //orange
$color-danger: #C71C22; //red

$color-text-title: $color-info; //blue dark
$color-text: #041824; //blue black
$color-text-dark: #020C12; //dark
$color-text-light: #F0F9FD; //light
$color-text-white: $color-white; //white

//custom property
$body-bkg: $color-white; //white
$base-color: $color-text; //blue dark
$link-color: $color-primary; //skyblue



// ----------------------------------------------------------------------
// Grid Bootstrap ?
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Variables
// ----------------------------------------------------------------------
$small-x-phone: 375px;
$small-phone: 420px;
$phone: 520px;
$large-phone: 580px;
$small-x-tablet: 768px;
$small-tablet: 790px;
$tablet: 992px;
$tablets: 991px;
$small-desktop: 1090px;
$small-x-desktop: 1180px;
$medium-x-desktop: 1190px;
$medium-desktop: 1280px;
$desktop: 1440px;
$large-desktop: 1650px;
$large-lx-desktop: 1950px;

// ----------------------------------------------------------------------
// Responsive Variables
// ----------------------------------------------------------------------
$font-size-small: 16;
$phone-responsive: 375;
$desktop-responsive: 1440;