.b-achievement {
    @extend %space-top-bottom;
    background-color: $color-white;
    padding-top: 30px;

    &__content {
        @include responsive(pt,110,20);
    }
    &__title {
        @include responsive(mb,88,30);
    }

    &__description {
        margin-right: 34px;
        @include responsive(mr,34,0, $xxl, $md);
    }

    &__figure {
        @include responsive(ml,24,0, $xxl, $md);
        margin-bottom: 31px;
    }
    &__image {}


    &__items {
        display: flex;
        // flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        @include responsive(ml, 12, 0, $xxl, $xl);
        @include responsive(mr, 50, 0, $xxl, $xl);
        margin-bottom: 88px;

        //$phone-large: 768px
        @media only screen and (max-width: $phone-large) {
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    &__item {
        position: relative;
        width: calc(50% - 10.5px);
        max-width: 400px;
        margin-bottom: 24px;
        // margin-left: 21px;
        @include responsive(minh,262, 150);
        box-shadow: 0px 0px 12px 6px $color-shadow-default;
        border-radius: 10px;
        background-color: $color-white;
        text-align: center;


        @include padding-responsive(49, 12, 43, 12, 30, 12, 43, 12);

        &:nth-child(2n + 1) {
            position: relative;
            top: 122px;
            @include mq(t,auto, $phone-large);
        }

        &:nth-child(3) &-title {
            font-size: 48px;
        }

        //$phone-large: 768px
        @media only screen and (max-width: $phone-large) {
            display: flex;
            width: 100%;
            max-width: none;
            flex-direction: column;
        }
    }

    
    &__item-title {
        font-family: Montserrat;
        font-weight: normal;
        font-size: 67px;
        @include responsive(fz,67,42);
        // line-height: 110%;
        color: $color-text-primary;
        margin-bottom: 12px;
    }

    &__item-description {
        display: block;
        margin-bottom: 26px;
        @include mq(mb, 0, $md);
        color: $color-text-primary;
        line-height: 25.87px
    }
}