.b-actual {
    $height-ola: 90px;
    @extend %space-top-bottom;
    padding-top: 0;
    background-color: $color-bkg-light;
    position: relative;
    margin-top: $height-ola;

    &__ola {

        img {
            width: 100vw;
            transform: rotate(180deg) scaleY(-1);
        }
    }

    &__figure {
        position: relative;
    }

    &__image {
        position: absolute;
        @include mq('position', 'relative', $md);
        @include responsive(t, -100, -40);
    }

    &__content {}

    &__title {
        @include responsive(mb,16,16);
    }

    &__subtitle {
        @include responsive(mb,16,16);
    }

    &__description {
        margin-bottom: 50px;
        p {
            margin-bottom: 16px;
        }
    }
}