/* Choose */
.b-choose {
    $translate-item: -86px;
    @extend %space-top-bottom;
    background-color: $color-bkg-light;
    padding-top: calc(91px  + #{$translate-item});
    @include responsive(pt, 177, 70, 1440, 992, true);
    @include responsive(pt, 70, 40, 991, 360, true);
    
    &__subtitle {
        color: $color-text;
    }

    &__items {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;

        //$tablet: 992px;
        @media only screen and (max-width: $tablet) {
            margin-top: 90px;
        }
        //$phone: 576px
        @media only screen and (max-width: $phone) {
            margin-top: auto;
        }
    }

    &__item {
        position: relative;
        width: calc(50% - 10.5px);
        background-color: $color-white;
        // min-height: 243px;
        @include responsive(minh,243,74);
        max-width: 361px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px $color-shadow-default;
        border-radius: 10px;
        // margin-left: 21px;
        margin-bottom: 18px;


        @include padding-responsive(29, 12, 77, 12, 19, 12, 33, 12);

        &:nth-child(2n + 1) {
            transform: translateY( $translate-item );

            //$phone-large: 768px
            @media only screen and (max-width: $phone-large) {
                transform: none;
            }
        }

        //$phone-large: 768px
        @media only screen and (max-width: $phone-large) {
            display: flex;
            width: 100%;
            max-width: none;
        }
    }

    &__item-figure {
        margin-bottom: 34px;
    }

    &__image {}

    &__item-description {
        display: block;
        margin-bottom: 26px;
    }

    &__item-btn {
        //$phone-large: 768px
        @media only screen and (max-width: $phone-large) {
            position: absolute;
            bottom: 12px;
            right: 12px;
        }
    }
}