
.b-compatible {
    
    @extend %space-top-bottom;
    background-color: $color-bkg-light;
    background-size: cover;
    position: relative;

    &__title {
        text-align: center;
        padding-top: 3px;
        @include responsive(mb, 66, 30);
        @include max-width-center(1029);
        color: $color-text-white;
    }

    &__items {
        display:flex;
        justify-content:space-between;
        align-items:center;
        flex-wrap: wrap;
    }

    &__item-figure {
        padding-right: 5px;
        padding-left: 5px;

        max-width: 252px;
        margin:30px 0;
        @include responsive(mt, 30, 10);
        @include responsive(mb, 30, 10);

        @include mq(w, '33%', $lg);
        @include mq(w, '50%', $md);

        img {
            margin: auto;
        }
    }
}
