/* block extension */
.b-extension {
    @extend %space-top-bottom;
    background-color: $color-bkg-light;

    &__item {
        @include responsive(mb,70,50);
        &:last-child {
            margin-bottom: 10px;
        }
    }

    &__figure {
        //$phone-large: 768px
        @media only screen and (max-width: $phone-large) {
            margin-top: 10px;
        }
    }

    &__image {}

    &__content {
        max-width: 455px;
        &--even {
            margin-left: auto;
            margin-right: 42px;
            //$phone-large: 768px
            @media only screen and (max-width: $phone-large) {
                margin-left: 0;
            }
            //$tablet: 992px;
            @media only screen and (max-width: $tablet) {
                margin-right: auto;
            }
        }
    }

    &__title {
        
    }
    &__subtitle {
        color: $color-text;
    }
    &__description {

    }
}