.b-mvsion {
    @extend %space-top-bottom;
    @include responsive(pb,110,50);
    background-color: $color-bkg-light;
    position: relative;

    &--ola-bottom {
        margin-top: 0;
        @include responsive(mb,90,50);
    }

    &__ola {

        &--bottom {
            transform: translateY(100%);
            top: auto;
            bottom: 0;
        }
        
        img {
            width: 100vw;
        }
    }
    &__item {
        @include max-width-center(527);
        text-align: center;

        &--mission {
            @include responsive(mt, -66, 0, $xxl, $sm);
        }

        &--vision {
            @include responsive(mt, 10, 0, $xxl, $sm);
        }
    }

    &__figure {
        @include responsive(mb,-78,-40);
        @include mq(p, 20, $md);
    }

    &__title {
        text-transform: capitalize;
        @include responsive(mb,26,16);
    }

    &__description {}

    &--ola-bottom &__ola{
        transform: translateY(100%);
        top: auto;
        bottom: 0;
    }
}