/* Project */
.b-project {
    @extend %space-top-bottom;
    &__figure {
        margin-bottom: 30px;
    }

    &__image {}

    &__content {
        max-width: 588px;
    }

    &__title {}

    &__description {
        min-height: 230px;
    }

    &__btn {
        max-width: 280px;
        margin-right: auto;
        margin-left: auto;

        //$tablet: 992px;
        @media only screen and (max-width: $tablet) {
            margin-left: 0;
        }
    }
}
