
/* Our Team ----------------------- */
.b-team {
    @extend %space-top-bottom;
    background-size: cover;

    &__title {
        // @extend %title;
        margin-bottom: 40px;
        text-align: center;
    }

    &__item-container {}

    &__item {
        text-align: center;
        position: relative;
        padding: 36px;
        padding-right: 27px;
        @include responsive(p,36,12);
        @include responsive(pr,27,12);
        margin: 16px auto;
        margin-top: 130px;
        @include mq(mt, 140, $sm);
        background-color: $color-bkg-light;
        box-shadow: 0px 4px 4px $color-shadow-default;
        border-radius: 20px;

        max-width: 523px;
        // min-height: 549px;
        min-height: 625px;

    }

    &__item-figure {
        top: 21px;
        right: -32px;
        margin: -150px auto 33px;
        @include responsive(w, 306, 230, $xxl, $md);
        @include responsive(h, 306, 230, $xxl, $md);
        @include responsive(w, 306, 265, 767, 360, true);
        @include responsive(h, 306, 265, 767, 360, true);
        background-color: $color-primary;
        box-shadow: 0px 4px 4px $color-shadow-default;
        border-radius: 50%;
        overflow: hidden;
    }

    $space-for-photo: 45px;

    &__item-name {
        color: $color-text-primary;
        margin-right: $space-for-photo;
        @include mq(mr, auto, $md);
        margin-bottom: 6px;
    }

    &__item-position {
        color: $color-text-primary;
        margin-right: $space-for-photo;
        @include mq(mr, auto, $md);
        margin-bottom: 15px;
    }

    &__item-description {
        // @extend %content-small;
        color: $color-text;
    }
    
    &__social-container {
        color: $color-text-light;
        display: flex;
        justify-content: center;
    }
    &__social-icon {
        padding-right: 5px;
        padding-left: 5px;
    }
}