nav {
    position: fixed;
    width: 100%;
    top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 41px 20px;

    background-color: rgba(24, 43, 46, 0.5);

    z-index: 100;

    ul {
        li {
            padding: 17px;
        }
    }

}
.navbar {
    color: $color-white;

    display: flex;
    align-items:center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items:center;
    justify-content:center;
}