/// placeholder https://sass-lang.com/documentation/style-rules/placeholder-selectors
//---------------------------------//

//heading
%heading {
    font-family: $font-family-heading;
    font-size: $font-size-heading;
    // line-height: 120%;
    font-weight: bold;
    color: $color-text-title;
}
%title {
    font-family: $font-family-heading;
    // font-size: $font-size-title;
    @include responsive(fz, $font-size-title, $font-size-title-mobile);
    // line-height: 120%;
    font-weight: bold;
    color: $color-text-title;
    text-align: center;
}
%subtitle {
    font-family: $font-family-heading;
    // font-size: $font-size-subtitle;
    @include responsive(fz, $font-size-subtitle, $font-size-subtitle-mobile);
    font-weight: bold;
    color: $color-text;
}
%subtitle-small {
    font-family: $font-family-heading;
    font-size: $font-size-subtitle-small;
    @include responsive(fz, $font-size-subtitle-small, $font-size-subtitle-smaller);
    font-weight: bold;
    color: $color-text;
}
%subtitle-smaller {
    font-family: $font-family-heading;
    // font-size: $font-size-subtitle-smaller;
    @include responsive(fz, $font-size-subtitle-smaller, $font-size-large);
    font-weight: bold;
    color: $color-text;
}
%subtitle-smallest {
    font-family: $font-family-heading;
    font-size: $font-size-subtitle-smallest;
    font-weight: bold;
    color: $color-text;
}

//Content or description text
%content-large {
    font-family: $font-family;
    // font-size: $font-size-large;
    @include responsive(fz, $font-size-large, $font-size-default);
}
%content {
    font-family: $font-family;
    // font-size: $font-size-default;
    @include responsive(fz, $font-size-default, $font-size-mobile);
}
%content-small {
    font-family: $font-family;
    // font-size: $font-size-small;
    @include responsive(fz, $font-size-small, $font-size-mobile-small);
}


//buttons
%btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family-link;
    font-weight: bold;
    font-size: $font-size-large;
    text-transform: uppercase;
    color: $color-white;
    background-color: $color-primary;
    border-radius:100px;
    padding: 20px;
    &:hover {
        color: $color-white;
        background-color: darken($color: $color-primary, $amount: 0.5);
    }
}

//Spaces
%space-top-bottom {
    padding-top: 70px;
    padding-bottom: 80px;
}
