// ---------------------------------- \\
// Fonts
// ---------------------------------- \\
// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// ---------------------------------- \\
// Layout Breakpoints
// ---------------------------------- \\
$max-width: 1280px;

// ---------------------------------- \\
// Font Families
// ---------------------------------- \\
$font-family-heading: 'Cabin', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-weight: normal;
$line-height: 30px;

$font-family-link: $font-family;

// ---------------------------------- \\
// Font Sizes Default
// ---------------------------------- \\
$font-size-heading: 70px;
$font-size-title: 50px;
$font-size-subtitle: 42px;
$font-size-subtitle-small: 28px;
$font-size-subtitle-smaller: 24px;
$font-size-subtitle-smallest: 16px;
$font-size-large: 21px;
$font-size-default: 19px;
$font-size-small: 16px;

$font-size-title-mobile: 34px;
$font-size-subtitle-mobile: 28px;
$font-size-mobile: 17px;
$font-size-mobile-small: 15px;


// ---------------------------------- \\
// Colors Default
// ---------------------------------- \\
$color-white: #ffffff; //white

$color-primary:#2FB0E7 ; //skyblue
$color-secondary:#E9ECEF ; // light
$color-success:#73A839 ; //green
$color-info: #02294E; //blue-dark
$color-warning:#DD5600; //orange
$color-danger: #C71C22; //red

$color-text-title: $color-info; //blue dark
$color-text: #041824; //blue black
$color-text-dark: #020C12; //dark
$color-text-light: #F0F9FD; //light
$color-text-white: $color-white; //white

//custom property
$body-bkg: $color-white; //white
$base-color: $color-text; //blue dark
$link-color: $color-primary; //skyblue



// ---------------------------------- \\
// Grid Bootstrap ?
// ---------------------------------- \\
$grid-columns: 12;

// ---------------------------------- \\
// Variables for Media queries and B5
// ---------------------------------- \\
$phone-x-small: 360px;
$phone-default: $phone-x-small; //default
$phone-small: 420px;
$phone: 575.98px; //use b5
$phone-large: 767.98px; //use b5
$tablet-small: 790px;
$tablet: 991.98px; //use b5
$desktop-small: 1090px;
$desktop: 1199.98px; //use b5
$desktop-medium: 1399.98px; //use b5
$desktop-default: $desktop-medium; //default
$desktop-large: 1650px;
$desktop-x-large: 1950px;

// ---------------------------------- \\
// Responsive Variables for responsive mixins
// ---------------------------------- \\
$phone-responsive: 360;
$desktop-responsive: 1440;
